<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.texturized.muus.infrastructure.mapper.UserMapper">

  <select id="existsByAccountId" parameterType="String" resultType="boolean">
    SELECT EXISTS (
        SELECT
          id
        FROM
          users
        WHERE
          account_id = #{accountId}
    );
  </select>

  <select id="existsByNickname" parameterType="String" resultType="boolean">
    SELECT EXISTS (
      SELECT
        id
      FROM
        users
      WHERE
        nickname = #{nickname}
    );
  </select>

  <select id="findByAccountId" parameterType="String" resultType="kr.texturized.muus.domain.entity.User">
    SELECT
      id,
      account_id,
      password,
      nickname,
      profile_image_path,
      user_type,
      create_time
    FROM
      users
    WHERE
      account_id = #{accountId}
  </select>

  <select id="findById" parameterType="Long" resultType="kr.texturized.muus.domain.entity.User">
    select
      id,
      account_id,
      password,
      nickname,
      profile_image_path,
      user_type,
      create_time as createTime
    from users
    where users.id = #{id}
  </select>

  <select id="findUserTypeByAccountId" parameterType="String" resultType="kr.texturized.muus.domain.entity.UserTypeEnum">
    SELECT
      user_type
    FROM
      users
    WHERE
      account_id = #{accountId}
  </select>

  <select id="findProfile" parameterType="Long" resultType="kr.texturized.muus.domain.vo.UserProfileResultVo">
    SELECT
      u.nickname,
      u.profile_image_path,
      b.id
    FROM
      users u
      LEFT OUTER JOIN busking b ON u.id = b.host_id
    WHERE
      u.id = #{userId}
  </select>

</mapper>
